body {
	font-family: 'Roboto Condensed', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
	color: #17469e;
	font-weight: 700;
	margin-top: 15px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a:hover, a:focus {
	text-decoration: none;
	color: #fff;
}


#wrapper {
	min-width: 320px;
}

.container {
	max-width: 1160px;
}

.icon {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
}

.bar {
	background-color: #000;
	color: #fff;
	height: 35px;
	display: block;
}

.sm-text {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
}

.lg-text {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
}

header {
	position: relative;
	z-index: 9;
	background-color: #fff;
}

.bar .school-name {
	float: left;
	margin-left: 65px;
	letter-spacing: 4px;
	margin-top: 10px;
}

.bar .search-language {
	float: right;
	margin-left: 5px;
	position: relative;
}

.input-search-showed {
	padding: 3px 10px !important;
	opacity: 1 !important;	
	width: 160px !important;
	-webkit-transition: width .3s ease-in, opacity .2s ease-in;
	transition: width .3s ease-in, opacity .2s ease-in;
}

.search-language .input-search {
	margin-top: 5px;
	padding: 3px 0;
	width: 0px;
	float: left;
	margin-right: 10px;
	border: 0;
	color: #000;
	opacity: 1;
	-webkit-transition: width .3s ease-in, padding .3s ease-in;
	transition: width .3s ease-in, padding .3s ease-in;
}

.search-language .search-ico {
	height: 15px;
	width: 20px;
	background-image: url("images/search_icon.png");
	background-size: 100%;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.search-language .language-switcher-ico {
	width: 25px;
	height: 35px;
	background-color: #fff;
	background-image: url("images/down_arrow_icon.png");
	background-size: 14px 10px;
	cursor: pointer;
}

.language-list {
	background-color: #f2f2f2;
	width: 127px;
  	margin-top: -15px;
	position: absolute;
	right: 0;
	height: auto;
	overflow: hidden;
	display: none;
}

.language-list li {
	background-color: #ccc;
	margin-top: 10px;
	padding: 5px;
}

.language-list li a {
	font-size: 14px;
	margin-left: 5px;
	font-weight: 700;
	color: #999;
	text-transform: capitalize;
}

.language-list li a:hover {
	color: #000;
}

.search-language .current-language {
	vertical-align: top;
	display: inline-block;
	margin: 10px 10px 0 10px;
	min-width: 80px;
	letter-spacing: 2px;
	text-align: center;
}

.logo-holder {
	height: 150px;
	position: relative;
}

.logo-holder .logo {
	margin-left: 60px;
	margin-top: 20px;
	display: inline-block;
}

.logo-holder .social-group {
	float: right;
	margin-top: 20px;
	margin-right: 130px;
	position: absolute;
	right: 0;
	top: 0;
}

.logo-holder .social-group ul {
	display: inline-block;
}

.logo-holder .social-group ul li {
	float: left;
	margin-left: 10px;
}

.logo-holder .social-group .icon {
  height: 25px;
  width: 25px;
}

a, .social-group i {
	-webkit-transition: all .3s;
	transition: all .3s;
}

.social-group .facebook-ico {
	background-image: url("images/facebook_icon.png");
}

.social-group .facebook-ico:hover {
	background-image: url("images/facebook_icon_hover.png");	
}

.social-group .pinterest-ico {
	background-image: url("images/pinterest_icon.png");
}

.social-group .pinterest-ico:hover {
	background-image: url("images/pinterest_icon_hover.png");
}

.social-group .twitter-ico {
	background-image: url("images/twitter_icon.png");
}

.social-group .twitter-ico:hover {
	background-image: url("images/twitter_icon_hover.png");
}

.social-group .linkedin-ico {
	background-image: url("images/linkedin_icon.png");
}

.social-group .linkedin-ico:hover {
	background-image: url("images/linkedin_icon_hover.png");
}
/*
nav {
	height: 100%;
}

nav ul {
	display: inline-block;
	width: 100%;
	height: auto;
}

nav ul li {
	float: left;
	text-align: center;
	min-width: 90px;
	height: 35px;
}

nav ul li a {
	color: #fff;
	padding-top: 8px;
	width: 100%;
	height: 100%;
	display: inline-block;
}

nav > ul li:hover {
	background-color: #4F4F4F;
	box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 1);
}


nav > ul li:hover > a{
	background-color: #4F4F4F;
	color: #000;
	box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 1);
}

nav > ul li:hover > ul {
	display: inline-block;
}

nav ul ul ul {
	display: none;
}

nav ul ul {
	display: none;
}

nav li:hover {
	background-color: #f2f2f2;

}

nav ul ul {
	height: auto;
	background-color: #aaa;
}

nav ul ul li {
	width: 100%;
}
*/


/*#######################
	Dropdown menu	
#########################*/

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #ccc; }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

/*###################################*/


.banner-wrapper  {
	position: relative;
}

.banner {
	min-height: 1100px;
}

.banner .half {
	height: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.banner .half.above .top {
	text-align: center;
	color: #fff;
	padding-top: 25px;
	position: relative;
	z-index: 3;
}

.banner .top .title {
	text-transform: uppercase;
	font-size: 38px;
	font-weight: 700;
	padding: 0 100px;
	line-height: 2em;
	letter-spacing: 2px;
}

.banner .top .title span::before {
	content: '[';
	font-size: 84px;
	font-weight: 400;
	vertical-align: middle;
	margin-right: 20px;
}

.banner .top .title span::after {
	content: ']';
	font-size: 84px;
	font-weight: 400;
	vertical-align: middle;
	margin-left: 20px;
}

.nav-control.icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.nav-control.left-nav-arrow-ico {
	background-image: url('images/left_nav_arrow.png');
}

.nav-control.right-nav-arrow-ico {
	background-image: url('images/right_nav_arrow.png');
}

.nav-control.left {
	position: absolute;
	left: 30px;
	top: 55px;
}

.nav-control.right {
	position: absolute;
	right: 30px;
	top: 55px;
}

.banner .half.below .bottom {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	padding: 20px 90px;
	color: #fff;
}

.banner .half.below .heading {
	font-size: 29px;
	font-weight: 700;
}

.banner .half.above .bottom {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 200px;
	color: #fff;
}

.banner .half.above .bottom .news-event-caption {
  	width: 70px;
  	float: left;
}

.banner .half.above .bottom .news-event-caption .icon-holder {
	background-color: rgba(13,13,13,0.4);
	height: 30px;
	text-align: center;
	padding-top: 3px;
}

.banner.nav-highlight {
	position: absolute;
	top: 0;
}

.news-event-caption .icon-holder .icon {
	height: 25px;
	width: 25px;
	cursor: pointer;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	    -ms-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
}

.news-event-caption .icon-holder .circle-arrow-ico.up {
	background-image: url("images/up_circle_arrow_icon.png");
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	        transform: rotate(360deg);
}

.news-event-caption .icon-holder .circle-arrow-ico.down {
	background-image: url("images/down_circle_arrow_icon.png");
	-webkit-transform: rotate(0);
	   -moz-transform: rotate(0);
	    -ms-transform: rotate(0);
	     -o-transform: rotate(0);
	        transform: rotate(0);
}

.banner .half.above .news-event-caption .text {
  text-transform: uppercase;
  font-weight: bold;
  height: 165px;
  text-align: center;
  font-size: 16px;
}

.banner .half.above .news-event-caption .text .rotate {
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	width: 135px;
	position: absolute;
	text-align: right;
	bottom: 60px;
	left: -32px;
}

.banner .half.above .student-parent-teacher-group {
	height: 100%;
	width: 100%;
}

.student-parent-teacher-group .slot {
	float: left;
	padding: 0 10px;
	height: 100%;
	padding: 30px 15px 0 15px;
}

.student-parent-teacher-group .heading {
	position: relative;
	z-index: 9;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	height: 100%;
	padding-top: 10px;
	text-transform: uppercase;
}


.student-parent-teacher-group .heading span {
	display: block;
	padding-left: 5px;
	padding-right: 5px;
}


.student-parent-teacher-group .heading .bottom-ico {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

.student-parent-teacher-group .heading .icon {
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	    -ms-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.student-parent-teacher-group .heading .circle-arrow-ico.up {
	background-image: url("images/up_circle_arrow_icon.png");
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	        transform: rotate(360deg);
}

.student-parent-teacher-group .heading .circle-arrow-ico.down {
	background-image: url("images/down_circle_arrow_icon.png");
	-webkit-transform: rotate(0);
	   -moz-transform: rotate(0);
	    -ms-transform: rotate(0);
	     -o-transform: rotate(0);
	        transform: rotate(0);
}

.student-parent-teacher-group .heading.current-student, 
.student-parent-teacher-group .nav-links.current-student {
	background-color: rgba(255, 242, 0, 0.6);
}

.student-parent-teacher-group .heading.potential-student,
.student-parent-teacher-group .nav-links.potential-student {
	background-color: rgba(163, 153, 148, 0.7);
}

.student-parent-teacher-group .heading.parent,
.student-parent-teacher-group .nav-links.parent {
	background-color: rgba(245, 25, 25, 0.6);
}

.student-parent-teacher-group .heading.teacher,
.student-parent-teacher-group .nav-links.teacher {
	background-color: rgba(50, 48, 142, 0.6);
}

.student-parent-teacher-group .nav-links {
	height: 200px;
	position: relative;
	z-index: 3;
}

.student-parent-teacher-group .nav-links ul li {
	text-align: center;
	margin-top: 3px;
	height: 21.5px;
}

.student-parent-teacher-group .nav-links ul li:first-child a {
	color: #000;
}

.student-parent-teacher-group .nav-links ul li a {
	color: #fff;
	background-color: #b2b0b1;
	display: block;
	margin-top: 3px;
	height: 21.5px;
}

.student-parent-teacher-group .nav-links ul li:hover a {
	font-weight: bold;
}

.banner .half.below {
	position: relative;
	z-index: 4;
}

.banner .half.below .top {
	width: 100%;
}

.banner .half.below .student-parent-teacher-group {
	height: 100%;
	width: 100%;
	display: inline-block;
	padding: 0 70px;
}

.half.below .top .student-parent-teacher-group .slot {
	padding-top: 0;
}

.half.below .top .student-parent-teacher-group .content {
	padding: 10px;
	color: #fff;
	min-height: 230px;
	max-height: 330px;
	line-height: 1.3em;
	overflow: hidden;
	position: relative;
}

.half.below .top .student-parent-teacher-group .content.current-student {
	background-color: rgba(255, 242, 0, 0.8);
}

.half.below .top .student-parent-teacher-group .content.potential-student {
	background-color: rgba(163, 153, 148, 0.85);
}

.half.below .top .student-parent-teacher-group .content.parent {
	background-color: rgba(245, 25, 25, 0.8);
}

.half.below .top .student-parent-teacher-group .content.teacher {
	background-color: rgba(50, 48, 142, 0.8);
}

.news-event-highlight {
	position: absolute;
	z-index: 1;
	top: 0px;
	background-color: rgba(101,101,101,0.5);
	display: none;
}

.news-event-highlight.showed {
	display: block;
	z-index: 3;
}

.news-event-highlight .heading {
	height: 35px;
	width: 100%;
	display: inline-block;
}

.news-event-highlight .heading .icon-holder {
	width: 70px;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	float: left;
	padding-top: 5px;
}

.news-event-highlight .heading .icon-holder .icon {
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.news-event-highlight .heading .icon-holder .circle-arrow-ico.down {
	background-image: url("images/down_circle_arrow_icon.png");
}

.news-event-highlight .content {
	float: left;
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	letter-spacing: 3px;
	padding-left: 10px;
	padding-top: 5px;
}

.news-event-highlight .news-event-list {
	padding: 0 80px;
	margin-top: 5px;
	color: #fff;
}

.news-event-highlight .news-event-list .left {
	padding-right: 0;
	padding-left: 0;
	background-color: rgba(51,51,51,0.8);
	border-right: 10px solid #5a5757;
}

.news-event-highlight .news-event-list .right {
	padding-left: 0;
	padding-right: 0;
	background-color: rgba(51,51,51,0.8);
	border-right: 10px solid #5a5757;
}

.news-event-highlight .news-event-list ul {
	width: 100%;
	overflow: hidden;
}

.news-event-highlight .news-event-list ul li {
	border-top: 2px solid #5a5757;
	height: 50px;
	position: relative;
}

.news-event-highlight .news-event-list ul li:last-child {
	border-bottom: 2px solid #5a5757;
}

.news-event-highlight .news-event-list .created-date {
	position: absolute;
	top: 10px;
	left: 10px;
}

.news-event-highlight .news-event-list .excerpt {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 5px 5px 5px 120px;

}

.news-event-board .heading {
	height: 35px;
	background-color: #000;
	color: #fff;
}

.news-event-board .heading .icon {
	float: left;
	display: inline-block;
	height: 100%;
	width: 35px;
	background-color: #fff;
}

.news-event-board .heading .arrow-ico-up {
	background-image: url("images/up_bold_arrow.jpg");
}

.news-event-board .heading .content {
	letter-spacing: 3px;
	float: left;
	height: 100%;
	margin-left: 120px;
	font-weight: 700;
}

.news-event-board .heading .content p {
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.news-event-board .heading .content .white-bg {
	background-color: #fff;
	color: #000;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	padding-top: 7px;
	padding-left: 15px;
	padding-right: 10px;
	margin-right: 10px;
}

.news-event-board .recent-post {
  padding: 15px 15px 15px 45px;
}

.news-event-board .recent-post ul li {
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.news-event-board .recent-post ul li:last-child {
  border-bottom: none;
}

.news-event-board .recent-post .item-label {
  margin-bottom: 15px;
}

.news-event-board .recent-post .item-label a {
	color: #000;
}

.news-event-board .recent-post .item-label a:hover {
	color: #000;
	text-decoration: underline;
}

.news-event-board .recent-post .created-date {
	color: #315ca9;
	font-weight: 700;
}

.news-event-board .recent-post .title {
	letter-spacing: 3px;
	margin-bottom: 15px;
	font-size: 16px;
	color: #aaa;
}

.news-event-board .latest-event {
	margin-top: 45px;
}

.news-event-board .latest-event .image img {
  width: 100%;
}

.news-event-board .latest-event .image {
	position: relative;
}

.news-event-board .latest-event .created-date {
	display: inline-block;
	width: 56px;
	height: 96px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("images/created_date_bg.png");
}

.news-event-board .latest-event .created-date span {
	position: absolute;
	bottom: 0;
	right: 1px;
	line-height: 10px;
	color: #939598;
}

.news-event-board .latest-event .item-label {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0;
}

.news-event-board .latest-event .description {
	margin-bottom: 15px;
}

.news-event-board .latest-event .description a {
	color: #000;
}

.news-event-board .latest-event .description a:hover {
	color: #000;
	text-decoration: underline;
}

.news-event-board .latest-event .more {
	margin-bottom: 25px;
}

.news-event-board .latest-event .more .icon {
	height: 12px;
	width: 10px;
}

.news-event-board .latest-event .more .more-arrow-ico {
	background-image: url("images/more_arrow_icon.png");
}

/* #########################
 Settings for screen mobile
 ######################### */

.site-map.desktop {
	background-color: #666262;
	border-top: 15px solid #000;
}

.site-map.desktop .heading {
	float: left;
	padding: 10px 15px;
}

.site-map.desktop .title {
	text-transform: uppercase;
	color: #ccc;
}

.site-map.desktop .content {
	margin-left: 0;
	margin-right: 0;
	padding-left: 80px;
	font-size: 13px;
  	line-height: 15px;	
}

.site-map.desktop .content a {
	color: #ccc;
}


.site-map.desktop .content a:hover {
	color: #ccc;
	text-decoration: underline;
}

.site-map.desktop .content > div {
	padding: 10px 15px;
	overflow: auto;
}

.site-map.desktop .content .title {
	margin-bottom: 10px;
	font-weight: 700px;
}

.site-map.desktop .content .block {
	width: 50%;
	float: left;
}

.site-map.desktop .content .light {
	background-color: #6c6868;
}

.site-map.mobile {
	background-color: #666262;
	border-top: 15px solid #000;
	padding: 15px 10px 10px 10px;
}

.site-map.mobile a {
	color: #ccc;
}

.site-map.mobile a:hover {
	color: #ccc;
	text-decoration: underline;
}

.site-map.mobile .panel-default > .panel-heading {
	background-color: #6c6868;
	border: none;
}

.site-map.mobile .panel-default {
	border: none;
}

.site-map.mobile .panel {
	background-color: initial;
}

.site-map.mobile .panel .panel-title {
	text-transform: uppercase;
	font-size: 14px;
}

.site-map.mobile .panel .panel-body {
	border: none;
}

.site-map.mobile .title {
	color: #ccc;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.site-map.mobile .content .block {
	width: 50%;
	float: left;
}

.news-page .row {
	background-color: #dedddd;
	margin-left: 0;
	margin-right: 0;
}

 .breadcrumb {
	padding: 0;
	margin: 0;
	background-color: #656363;
	color: #fff;
	border-radius: 0;
	height: 35px;
	padding-left: 75px;
	padding-top: 5px;
	font-size: 16px;
}

.breadcrumb a {
	color: #fff;
}

.breadcrumb ul li {
	float: left;
}

.breadcrumb ul li.current {
	color: #fdb813;
}

.breadcrumb .parent {
	color: #fff;
}

.breadcrumb ul li:after {
	content: ">";
	margin: 0 5px;
	color: #fff;
}

.breadcrumb ul li:last-child:after {
	content: "";
}

.news-page .latest-event {
	padding: 40px 15px 15px 35px;
}

.news-page .latest-event ul li {
	display: inline-block;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	position: relative;
	width: 100%;
}

.news-page .latest-event .image {
	float: left;
	margin-right: 15px;
}

.news-page .latest-event .created-date {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #17469e;
	font-size: 13px;
	font-weight: 700;
}

.news-page .news-content .content img {
	width: 100%;
	height: auto;
}

.news-page .news-content .content p {
	margin-bottom: 20px;
}

.news-page .news-content {
	font-size: 16px;
	padding: 40px 65px 40px 50px;
}

.news-page .news-content .title {
	color: #17469e;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}

.news-page .latest-news {
	background-color: #fff;
	padding: 30px 20px 30px 35px;
}

.news-page .latest-news li {
	width: 100%;
	min-height: 100px;
	border-bottom: 1px solid #ccc;
	padding-top: 5px;
	position: relative;
}

.latest-news .news-item .created-date {
	position: absolute;
	bottom: 5px;
	color: #17469e;
	font-size: 13px;
	font-weight: 700;
}

.single-page .intro-panel {
	height: 550px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.single-page .intro-panel .breadcrumb {
  	background-color: rgba(0,0,0,0.6);
}

.single-page.twotier .intro-panel .intro-text {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 40px 100px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	font-size: 22px;
	line-height: 25px;
	min-height: 145px;
}

.single-page.twotier .intro-panel .left-bracket-ico:before {
	content: "[";
	font-style: normal;
	font-size: 90px;
	position: absolute;
	left: 40px;
	top: 60px;
}

.single-page.twotier .intro-panel .right-bracket-ico:after {
	content: "]";
	font-style: normal;
	font-size: 90px;
	position: absolute;
	right: 40px;
	top: 60px;
}

.single-page.threetier .intro-panel .intro-text-holder {
	padding-top: 35px;
	height: 100%;
	width: 350px;
	position: absolute;
	top: 0;
	left: 0;
}

.single-page.threetier .intro-panel .intro-text-holder .intro-text {
  height: 100%;
  width: 100%;
  padding: 30px;
  background-color: rgba(0,0,0,0.5);
}

.single-page.threetier .intro-panel .intro-text-holder .intro-text .title {
	font-size: 22px;
	line-height: 31px;
	margin-bottom: 25px;
	color: #fdb813;
}

.single-page.threetier .intro-panel .intro-text-holder .intro-text .description {
	color: #fff;
	font-size: 18px;
}

.single-page .comnimpora-abo {
	height: 35px;
	background-color: #333333;
}

.single-page .comnimpora-abo .icon-holder {
	background-color: #fff;
	display: inline-block;
	height: 100%;
	float: left;
}


.single-page .comnimpora-abo .icon {
	height: 100%;
	width: 35px;
	background-position: center 90%;
}

.single-page .comnimpora-abo .home-ico {
	background-image: url("images/home_icon.png");
}

.single-page .comnimpora-abo .title {
	color: #fff;
	letter-spacing: 4px;
	font-size: 11px;
	display: inline-block;
	height: 100%;
	float: left;
	padding-top: 15px;
	margin-left: 10px;
}

.single-page .main-content {
	margin-left: 0;
	margin-right: 0;
	background-color: #ccc;
}

.news-page .left-content {
	left: 0.1%;
}
.single-page .main-content .left-content {
	padding: 60px 30px 30px 35px;
	left: 0.1%;
}

.single-page .main-content .left-content img {
	width: 100%;
	height: auto;
}


.news-page .right-content {
	left: 100%;
}
.single-page .main-content .right-content {
	padding-left: 0;
	padding-right: 0;
	left: 100%;
}

.single-page .main-content .right-content p,
.single-page .main-content .right-content span, 
.single-page .main-content .right-content h1, 
.single-page .main-content .right-content h2, 
.single-page .main-content .right-content h3 ,
.single-page .main-content .right-content h4, 
.single-page .main-content .right-content h5, 
.single-page .main-content .right-content h6 {
	padding-left: 30px;
	padding-right: 30px;
}

.single-page .main-content .right-content p {
	margin-bottom: 10px;
}

.single-page .main-content .right-content img {
	width: 100%;
	height: auto;

}

.single-page .main-content .right-content .title {
	color: #17469e;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	line-height: 35px;
}

.news-page .colmask,
.single-page .colmask {
	width: 100%;
	float: left;
	position: relative;
	background-color: rgb(255, 255, 255);
	left: -66.7%;
}

/*######################
	Responsive settings
#######################*/

@media screen and (min-width: 992px) {
	
	.site-map.desktop {
		display: block;
	}

	.site-map.mobile {
		display: none;
	}

	.site-map.desktop .content .wide {
	  	width: 235px;
	}

	.site-map.desktop .content .normal {
		width: 190px;
	}

	.site-map.desktop .content .narrow {
		width: 120px;
	}

	.site-map.desktop .content > div {
		height: 290px;
		display: inline-block;
	}

}

@media screen and (max-width: 991px) {

	.bar .search-language {
		display: none;
	}

	.main-menu {
		display: none;
	}

	.bar.bottom {
		height: 5px;
	}

	.site-map.desktop {
		display: none;
	}


	.logo-holder .social-group {
		display: none;
	}

	.site-map.mobile {
		display: block;
	}

	.news-event-board .recent-post {
		padding: 15px;
	}

 	.news-event-board .latest-event .image {
		max-width: 350px;
		margin: 0 auto;
	}

	.banner.nav-highlight {
		display: none;
	}

	.banner {
		min-height: 555px;
	}

	.banner .half.below .bottom {
		padding: 15px 30px;
		line-height: 16px;
		font-size: 13px;
	}

	.banner .half.below .heading {
		font-size: 22px;
		margin-bottom: 10px;
	}

	.banner .half.above .top {
		padding-top: 48px;
	}

	.banner .top .title {
		line-height: 45px;
	}

	.news-page .latest-event {
		padding: 10px;
	}

	.news-page .latest-news {
		padding: 10px;
	}

	.breadcrumb {
		padding-left: 35px;
	}

	.single-page .intro-panel .intro-text {
		font-size: 18px;
	}

	.news-page .colmask,
	.single-page .colmask {
		background-color: none;
		left: 0;
		background-color: #ccc;
	}

	.news-page .right-content,
	.single-page .main-content .right-content {
		left: 0;
	}

	.news-page .left-content,
	.single-page .main-content .left-content {
		left: 0;
		background-color: #fff;
	}	
}

@media screen and (min-width: 768px) and (max-width: 991px) {

	.banner .top .title {
		font-size: 32px;
	}

	.banner .top .title span::before,
	.banner .top .title span::after {
		font-size: 58px;
	}

}

@media screen and (max-width: 767px) {
	
	

	.logo-holder {
		height: 104px;
  		position: relative;
	}

	.logo-holder .logo img {
		height: 80px;
	}

	.logo-holder .logo {
		float: left;
		margin-left: 10px;
		margin-top: 10px;
	}

	.logo-holder .social-group {
		float: left;
		margin-top: 35px;
		margin-left: 25px;
		margin-right: inherit;
	  	position: relative;
	  	right: inherit;
	  	top: inherit;
	}


	.banner .half.below .bottom {
		padding: 10px;
	}

	.banner .top .title {
		font-size: 26px;
		line-height: 36px;
	}

	.banner .top .title span::before,
	.banner .top .title span::after {
		font-size: 38px;
	}

	.news-page .news-content .title {
		font-size: 20px;
	}

	.news-page .news-content {
		font-size: 14px;
		padding: 20px 30px 25px 30px;
	}

	.single-page.twotier .intro-panel .intro-text {
		padding: 20px 80px;
	}

	.single-page.twotier .intro-panel .right-bracket-ico:after {
		right: 20px;
	}

	.single-page.twotier .intro-panel .left-bracket-ico:before {
		left: 20px;
	}

	.single-page.twotier .main-content .right-content .title {
		font-size: 20px;
	}

	.breadcrumb {
		font-size: 12px;
		padding-left: 10px;
		height: 45px;
	}

	.single-page.threetier .intro-panel .intro-text-holder {
		width: 300px;
		padding-top: 45px;
	}

}

@media screen and (max-width: 480px) {
	
	.bar {
		height: 25px;
	}

	.bar .school-name {
		margin-left: 15px;
		margin-top: 5px;
		letter-spacing: 2px;
	}

	.logo-holder .logo img {
		height: 85px;
	}


	.banner .half.above .top {
		padding-top: 30px;
	}

	.banner .top .title span::before,
	.banner .top .title span::after {
		font-size: 28px;
	}

	.banner .top .title span::before {
		margin-right: 5px;
	}

	.banner .top .title span::after {
		margin-left: 5px;
	}

	.banner .top .title {
		padding: 0 40px;
		font-size: 14px;
		line-height: 22px;
	}

	.nav-control.left {
		left: 15px;
		top: 30px;
	}

	.nav-control.right {
		right: 15px;
		top: 30px;
	}

	.banner .half.below .bottom {
		font-size: 12px;
	}

	.banner .half.below .heading {
		font-size: 18px;
	}

	.news-event-board .heading .content
	{
		margin-left: 35px;
	}

	.single-page .intro-panel {
		height: 400px;
	}

	.single-page.twotier .intro-panel .intro-text {
		font-size: 14px;
		padding: 25px 40px;
	}

	.single-page.twotier .intro-panel .right-bracket-ico:after {
		font-size: 70px;
	}

	.single-page.twotier .intro-panel .left-bracket-ico:before {
		font-size: 70px;
	}

	
	.single-page.threetier .intro-panel .intro-text-holder .intro-text {
		padding: 15px;
	}

	.single-page.threetier .intro-panel .intro-text-holder .intro-text .title {
		font-size: 18px;
	}

	.single-page.threetier .intro-panel .intro-text-holder .intro-text .description {
		font-size: 12px;
	}


}